.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  background: var(--bg-secondary);
  overflow: hidden;
  flex-shrink: 0;
}

.main {
  flex: 1;
  height: 100%;
  min-width: 0;
  background: var(--bg-primary);
  overflow: auto;
}
